header {
  // background: url('#{$rootpath}/assets/img/01.272.07.005.jpg') center/cover;
  height: 100vh;
  color: $color-white;
  font-family: $font-1;
  position: relative;

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 2rem;
  }

  nav {
    ul {
      perspective: 300px;
      margin: 20px;
      li {
        list-style: none;
        margin: 10px 0;
        transform: rotatey(45deg) scaleX(1.3);
        transition: 0.3s;
        transform-origin: left;
        &:hover {
          transform: rotatey(3deg);
        }
      }
      &:hover li:not(:hover) {
        opacity: 0.3;
      }
    }
    a {
      font-size: 1rem;
      text-decoration: none;
      color: var(--white);
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
      h5 {
        color: $color-black;
      }
    }
  }
}

.carousel-item {
  img {
    height: 100vh;
  }
}

.carousel-caption {
  z-index: 1;
  p {
    z-index: 1;
  }
  @media screen and (max-width: 350px) {
    p {
      font-size: calc(0.7rem + 0.9vw);
    }
  }
}

.logo {
  width: 90%;
  cursor: pointer;
  img {
    width: 90%;
    min-width: 230px;
    max-width: 350px;
  }
  @media screen and (max-width: 330px) {
    margin: 0 auto;
  }
  @media screen and (max-width: 290px) {
    display: none;
  }
}

.header-container {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  @media screen and (max-width: 330px) {
    margin: 0 auto;
  }
}
.header-text-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  @media screen and (max-width: 350px) {
    h2 {
      font-size: calc(1.3rem + 0.9vw);
    }
  }
}

.header-text-container-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "txt"
  "ctrl";
  gap: 30px;
}

.burger-menu-btn {
  width: 30px;
  height: 30px;
  background: none;
  position: absolute;
  top: 20px;
  right: 20px;
  background: url("#{$rootpath}/assets/icons/burger.svg") right/cover;
  &:hover {
    transform: scale(1.2);
  }
  @media screen and (max-width: 290px) {
    top: 20px;
    right: 45%;
  }
  @media screen and (max-width: 330px) {
    top: 70px;
    right: 45%;
  }
  @media screen and (min-width: 900px) {
    visibility: visible;
  }
  @media screen and (min-width: 900px) and (max-width: 8000px) {
    display: none;
  }

}

.offcanvas-body {
  a {
    text-decoration: none;
    color: $color-grey;
    &:hover {
      color: $color-black;
      font-size: 1.4rem;
    }
    &:visited,
    &:active,
    &:focus {
      outline: none;
      border: none;
      transition: none;
    }
  }
}

.offcanvas-header h5 {
  color: $color-black !important;
  font-size: 1.5rem;
}

.carousel-caption { // inherits from boostrap '.carousel-caption'
  // position: absolute;
  // right: 15%;
  bottom: 40px !important;
  top: 80% !important;
  left: 20px !important;
  padding-top: 0 !important;
  padding-bottom: 30px !important;
  color: $color-white !important;
  text-align: left !important;
  p {
    text-align: left;
    justify-content:start;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: static !important;
  // top: 0;
  // bottom: 0;
  z-index: 1;
  display:inline-block !important;
  // align-items: center;
  // justify-content: center;
  width: 80px !important;
  height: 10px !important;
  // padding: 0;
  // color: #fff;
  // text-align: center;
  background: none;
  border: 0;
  opacity: 1 !important;
  // transition: opacity 0.15s ease;
  cursor: pointer;
}

.carousNum {
  position: absolute;
  bottom: -22px;
  left: 90px;
  font-size: 1.2rem;
  font-weight: 300;
  @media screen and (max-width: 330px) {
    display: none;
  }
}

#navBar {
  position: absolute;
  top: 22px;
  right: 20px;
  min-width: 300px;
  width: 50vw;
  max-width: 800px;
  height: 30px;
  color: $color-white;
  background: transparent;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      a {
        &:hover {
          font-size: 1.1rem;
        }
        &:hover a:not(:hover) {
          font-size: 1rem;
        }
      }
    }
  }
  @media screen and (max-width: 900px) {
    display: none;
  }
}

#navLiSearch {
  height: 20px;
  width: 20px;
  background: url("#{$rootpath}/assets/img/search.svg") center/cover;
}

#carouselSlidesOnly {
  height: 100vh !important;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
#carouselFade {
  height: 100vh !important;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

#carousel-img1 {
  background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.4) 100%), url("#{$rootpath}/assets/img/01.272.07.005.jpg") center/cover;
  animation: rearzoom 3s forwards;
}

#carousel-img2 {
  background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.4) 100%), url("#{$rootpath}/assets/img/00.951.11.071a.jpg") center/cover;
  animation: rearzoom 3s forwards;
}
#carousel-img3 {
  background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.4) 100%), url("#{$rootpath}/assets/img/01.060.11.012.jpg") center/cover;
  animation: rearzoom 3s forwards;
}
#carousel-img4 {
  background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.4) 100%), url("#{$rootpath}/assets/img/00.433.11.014-1-Blue-Slip.jpg")
    right/cover;
    animation: rearzoom 3s forwards;
}
#carousel-img5 {
  background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.4) 100%), url("#{$rootpath}/assets/img/00.636.11.007.jpg") left/cover;
  animation: rearzoom 3s forwards;
}
#carousel-img6 {
  background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.4) 100%), url("#{$rootpath}/assets/img/00.818.12.180.jpg") center/cover;
  animation: rearzoom 3s forwards;
}
#carousel-img7 {
  background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.4) 100%), url("#{$rootpath}/assets/img/01.047.11.002.jpg") center/cover;
  animation: rearzoom 3s forwards;
}
#carousel-img8 {
  background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.4) 100%), url("#{$rootpath}/assets/img/01.060.11.012.jpg") center/cover;
  animation: rearzoom 3s forwards;
}
#carousel-img9 {
  background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.4) 100%), url("#{$rootpath}/assets/img/Enclave-at-the-cathedral-3.jpg")
    bottom/cover;
    animation: rearzoom 3s forwards;
}

#header-p {
  grid-area: txt;
}

#header-carousel-controler {
  grid-area: ctrl;
  // margin-bottom: -50px;
  @media screen and (max-width: 330px) {
    display: none !important;
  }
}

@keyframes rearzoom {
  0% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}