@font-face {
  font-family: "font-1";
  src: url(../../assets/fonts/Roboto-Regular.ttf);
}
$font-1: "font-1", sans-serif;

$color-white: whitesmoke;
$color-black: rgb(51, 51, 51);
$color-grey: rgb(140, 140, 140);
$color-grey-light: rgba(179, 179, 179, 0.374);
$color-cyan-bckgrnd: #00cdaa;
$color-cyan-text: #22d4b5;
$color-darkcyan: darkcyan;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}